In [2]:
import os
import pandas as pd

# Reading data

In [7]:
files = os.listdir('../skin-cancer-mnist-ham10000/')
files

['.DS_Store',
 'data',
 'data2',
 'data_org',
 'HAM10000_images_part_1.zip',
 'HAM10000_images_part_2',
 'HAM10000_images_part_2.zip',
 'HAM10000_metadata.csv',
 'hmnist_28_28_L.csv',
 'hmnist_28_28_RGB.csv',
 'hmnist_8_8_L.csv',
 'hmnist_8_8_RGB.csv']

In [8]:
data_dir = files[1]

In [9]:
os.listdir(data_dir)

[]

In [9]:
data_sets_list = os.listdir(data_dir)[-5:]

## Data preview

In [12]:
dfs = []

for df in data_sets_list :
    print(df)
    data = pd.read_csv(data_dir + '/' + df)
    print(data.head())
    print('---------------------\n')
    dfs.append(data)

HAM10000_metadata.csv
     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear
---------------------

hmnist_28_28_L.csv
   pixel0000  pixel0001  pixel0002  pixel0003  pixel0004  pixel0005  \
0        169        171        170        177        181        182
1         19         57        105        140        149        148
2        155        163        161        167        167        172
3         25         71        116        139        136        153
4        129        162        181        196        205        208

   pixel0006  pixel0007  pixel0008  pixel0009  ...    pixel0775  pixel0776  \
0        181        185        194        192  ...          184        186
1        144        155        170        170  ...          172        175
2        155        152        165        175  ...          163        178
3        148        161        172        162  ...          125        135
4        205        213        225        224  ...          210        197

   pixel0777  pixel0778  pixel0779  pixel0780  pixel0781  pixel0782  \
0        185        180        157        140        140        159
1        160        144        114         89         47         18
2        157        166        167        148        141        136
3        138        137        111         71         32         16
4        172        190        195        193        181        147

   pixel0783  label
0        165      2
1         18      2
2        115      2
3         16      2
4         88      2

[5 rows x 785 columns]
---------------------

hmnist_28_28_RGB.csv
   pixel0000  pixel0001  pixel0002  pixel0003  pixel0004  pixel0005  \
0        192        153        193        195        155        192
1         25         14         30         68         48         75
2        192        138        153        200        145        163
3         38         19         30         95         59         72
4        158        113        139        194        144        174

   pixel0006  pixel0007  pixel0008  pixel0009  ...    pixel2343  pixel2344  \
0        197        154        185        202  ...          173        124
1        123         93        126        158  ...           60         39
2        201        142        160        206  ...          167        129
3        143        103        119        171  ...           44         26
4        215        162        191        225  ...          209        166

   pixel2345  pixel2346  pixel2347  pixel2348  pixel2349  pixel2350  \
0        138        183        147        166        185        154
1         55         25         14         28         25         14
2        143        159        124        142        136        104
3         36         25         12         17         25         12
4        185        172        135        149        109         78

   pixel2351  label
0        177      2
1         27      2
2        117      2
3         15      2
4         92      2

[5 rows x 2353 columns]
---------------------

hmnist_8_8_L.csv
   pixel0000  pixel0001  pixel0002  pixel0003  pixel0004  pixel0005  \
0        172        182        191        183        180        181
1         98        149        170        193        183        162
2        165        164        179        172        152        163
3        109        159        167        166        163        159
4        173        202        210        194        208        248

   pixel0006  pixel0007  pixel0008  pixel0009  ...    pixel0055  pixel0056  \
0        165        164        173        192  ...          159        171
1        164        100        137        175  ...          135         83
2        169        151        168        174  ...          169        152
3        155         96        141        168  ...          101         79
4        243        205        180        142  ...          230        160

   pixel0057  pixel0058  pixel0059  pixel0060  pixel0061  pixel0062  \
0        181        201        192        184        183        171
1        159        186        185        192        181        143
2        171        185        189        193        176        168
3        146        170        167        158        154        133
4        199        206        208        209        205        200

   pixel0063  label
0        157      2
1         58      2
2        151      2
3         45      2
4        186      2

[5 rows x 65 columns]
---------------------

hmnist_8_8_RGB.csv
   pixel0000  pixel0001  pixel0002  pixel0003  pixel0004  pixel0005  \
0        199        156        188        210        165        198
1        115         87        115        180        133        158
2        203        146        164        209        144        153
3        135         96        110        198        141        156
4        204        156        187        232        185        216

   pixel0006  pixel0007  pixel0008  pixel0009  ...    pixel0183  pixel0184  \
0        216        176        203        215  ...          214        167
1        200        153        187        215  ...          207        167
2        217        160        181        215  ...          211        160
3        208        148        158        210  ...          179        141
4        236        196        220        217  ...          236        189

   pixel0185  pixel0186  pixel0187  pixel0188  pixel0189  pixel0190  \
0        191        199        157        175        184        143
1        188        177        128        138         74         51
2        175        199        152        172        177        138
3        157        153        122        138         58         39
4        213        233        182        209        207        175

   pixel0191  label
0        167      2
1         60      2
2        158      2
3         46      2
4        188      2

[5 rows x 193 columns]
---------------------

## Selecting data sets of interest

In [13]:
info = dfs[0][:]
df = dfs[2][:]

In [16]:
print(info.shape)
info.head()

(10015, 7)

     lesion_id      image_id   dx dx_type   age   sex localization
0  HAM_0000118  ISIC_0027419  bkl   histo  80.0  male        scalp
1  HAM_0000118  ISIC_0025030  bkl   histo  80.0  male        scalp
2  HAM_0002730  ISIC_0026769  bkl   histo  80.0  male        scalp
3  HAM_0002730  ISIC_0025661  bkl   histo  80.0  male        scalp
4  HAM_0001466  ISIC_0031633  bkl   histo  75.0  male          ear

In [17]:
print(df.shape)
df.head()

(10015, 2353)

,pixel0000,pixel0001,pixel0002,pixel0003,pixel0004,pixel0005,pixel0006,pixel0007,pixel0008,pixel0009,...,pixel2343,pixel2344,pixel2345,pixel2346,pixel2347,pixel2348,pixel2349,pixel2350,pixel2351,label
0,192,153,193,195,155,192,197,154,185,202,...,173,124,138,183,147,166,185,154,177,2
1,25,14,30,68,48,75,123,93,126,158,...,60,39,55,25,14,28,25,14,27,2
2,192,138,153,200,145,163,201,142,160,206,...,167,129,143,159,124,142,136,104,117,2
3,38,19,30,95,59,72,143,103,119,171,...,44,26,36,25,12,17,25,12,15,2
4,158,113,139,194,144,174,215,162,191,225,...,209,166,185,172,135,149,109,78,92,2

In [22]:
N = df.shape[0]

# INFO exploration

In [65]:
info.dtypes

lesion_id        object
image_id         object
dx               object
dx_type          object
age             float64
sex              object
localization     object
dtype: object

In [66]:
info.describe()

               age
count  9958.000000
mean     51.863828
std      16.968614
min       0.000000
25%      40.000000
50%      50.000000
75%      65.000000
max      85.000000

## lesion_id

In [67]:
info.lesion_id.describe()

count           10015
unique           7470
top       HAM_0000835
freq                6
Name: lesion_id, dtype: object

There are duplicates for the lesion ids. Let us verify that each lesion corresponds to 1 individual

In [68]:
lesion_id_duplicates = info.groupby('lesion_id').count()['image_id']
lesion_id_duplicates

lesion_id
HAM_0000000    2
HAM_0000001    1
HAM_0000002    3
HAM_0000003    1
HAM_0000004    1
HAM_0000005    4
HAM_0000006    3
HAM_0000007    1
HAM_0000008    1
HAM_0000009    3
HAM_0000010    1
HAM_0000011    1
HAM_0000012    2
HAM_0000013    1
HAM_0000014    3
HAM_0000015    1
HAM_0000016    1
HAM_0000017    1
HAM_0000018    1
HAM_0000019    1
HAM_0000020    1
HAM_0000021    1
HAM_0000022    1
HAM_0000023    1
HAM_0000024    1
HAM_0000025    3
HAM_0000026    1
HAM_0000027    1
HAM_0000028    2
HAM_0000029    1
              ..
HAM_0007599    1
HAM_0007600    1
HAM_0007601    3
HAM_0007602    1
HAM_0007603    1
HAM_0007604    1
HAM_0007605    1
HAM_0007606    2
HAM_0007607    1
HAM_0007608    1
HAM_0007609    1
HAM_0007610    1
HAM_0007611    1
HAM_0007612    1
HAM_0007613    1
HAM_0007614    2
HAM_0007615    1
HAM_0007616    1
HAM_0007617    2
HAM_0007618    1
HAM_0007619    1
HAM_0007620    2
HAM_0007621    2
HAM_0007622    1
HAM_0007623    1
HAM_0007624    1
HAM_0007625    2
HAM_0007626    1
HAM_0007627    2
HAM_0007628    1
Name: image_id, Length: 7470, dtype: int64

In [69]:
lesion_id_duplicates.describe()

count    7470.000000
mean        1.340696
std         0.633970
min         1.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         6.000000
Name: image_id, dtype: float64

In [70]:
lesion_id_duplicates = pd.DataFrame(lesion_id_duplicates)
lesion_id_duplicates = lesion_id_duplicates[lesion_id_duplicates.image_id > 1]
lesion_id_duplicates.head()

             image_id
lesion_id
HAM_0000000         2
HAM_0000002         3
HAM_0000005         4
HAM_0000006         3
HAM_0000009         3

In [71]:
lesion_id_duplicates['age_min'] = info.groupby('lesion_id').min()['age']
lesion_id_duplicates['age_max'] = info.groupby('lesion_id').max()['age']

In [72]:
lesion_id_duplicates.head()

             image_id  age_min  age_max
lesion_id
HAM_0000000         2     60.0     60.0
HAM_0000002         3     65.0     65.0
HAM_0000005         4     75.0     75.0
HAM_0000006         3     70.0     70.0
HAM_0000009         3     35.0     35.0

In [73]:
def equal_age(age) : 
    return (age[0] == age[1])

In [74]:
lesion_id_duplicates['same_age'] = lesion_id_duplicates[['age_min', 'age_max']].apply(lambda x: equal_age(x), axis = 1)
lesion_id_duplicates.head()

             image_id  age_min  age_max  same_age
lesion_id
HAM_0000000         2     60.0     60.0      True
HAM_0000002         3     65.0     65.0      True
HAM_0000005         4     75.0     75.0      True
HAM_0000006         3     70.0     70.0      True
HAM_0000009         3     35.0     35.0      True

In [75]:
lesion_id_duplicates[lesion_id_duplicates.same_age == 0]

             image_id  age_min  age_max  same_age
lesion_id
HAM_0000169         2      NaN      NaN     False
HAM_0000698         2      NaN      NaN     False
HAM_0002417         2      NaN      NaN     False
HAM_0006074         2      NaN      NaN     False
HAM_0007278         2      NaN      NaN     False

Ages match, except for when age is missing

In [76]:
info.groupby(['lesion_id', 'sex']).count().shape[0]

7470

Each lesion_id corresponds to a unique sex.

In [77]:
info.groupby(['lesion_id', 'localization']).count().shape[0]

7472

There are issues with the localization

In [80]:
les_local = info.groupby(['lesion_id', 'localization']).count()['image_id']
les_local = pd.DataFrame(les_local)
les_local.reset_index(inplace= True)
les_local = les_local.groupby('lesion_id').count()['image_id']
les_local[les_local > 1]

lesion_id
HAM_0000871    2
HAM_0001726    2
Name: image_id, dtype: int64

The 2 ids aboves hace several localizations

In [81]:
info[info.lesion_id == 'HAM_0000871']

        lesion_id      image_id   dx dx_type   age     sex localization
1211  HAM_0000871  ISIC_0025964  mel   histo  40.0  female        chest
1212  HAM_0000871  ISIC_0030623  mel   histo  40.0  female        chest
2014  HAM_0000871  ISIC_0026506  mel   histo  40.0  female        trunk

In [82]:
info[info.lesion_id == 'HAM_0001726']

        lesion_id      image_id   dx dx_type   age     sex localization
1247  HAM_0001726  ISIC_0029281  mel   histo  35.0  female         back
1248  HAM_0001726  ISIC_0024367  mel   histo  35.0  female         back
2008  HAM_0001726  ISIC_0024700  mel   histo  35.0  female        trunk

Trunk is a generalization of back and chest

## image_id

In [83]:
info.image_id.describe()

count            10015
unique           10015
top       ISIC_0025780
freq                 1
Name: image_id, dtype: object

## dx

In [84]:
info.dx.describe()

count     10015
unique        7
top          nv
freq       6705
Name: dx, dtype: object

In [88]:
cats = info.dx.unique()
print(cats)
print(len(cats))

['bkl' 'nv' 'df' 'mel' 'vasc' 'bcc' 'akiec']
7

## dx_type

In [89]:
info.dx_type.describe()

count     10015
unique        4
top       histo
freq       5340
Name: dx_type, dtype: object

In [90]:
cats = info.dx_type.unique()
print(cats)
print(len(cats))

['histo' 'consensus' 'confocal' 'follow_up']
4

## age

In [91]:
info.age.describe()

count    9958.000000
mean       51.863828
std        16.968614
min         0.000000
25%        40.000000
50%        50.000000
75%        65.000000
max        85.000000
Name: age, dtype: float64

In [97]:
age_na = info.age.isnull().sum()
age_zero = (info.age == 0).sum()
print('There are ' + str(age_zero + age_na) + ' missing age data')
print('This corresponds to ' + str((age_na + age_na) * 100/N) + ' % of the data')
info[(info.age == 0)|(info.age.isnull())]

There are 96 missing age data
This corresponds to 1.1382925611582626 % of the data

,lesion_id,image_id,dx,dx_type,age,sex,localization
117,HAM_0007179,ISIC_0025906,bkl,histo,0.0,female,back
118,HAM_0007179,ISIC_0027151,bkl,histo,0.0,female,back
865,HAM_0006186,ISIC_0029320,bkl,consensus,0.0,male,lower extremity
866,HAM_0006186,ISIC_0029427,bkl,consensus,0.0,male,lower extremity
902,HAM_0004543,ISIC_0032170,bkl,consensus,0.0,female,back
968,HAM_0001186,ISIC_0033391,bkl,consensus,NaN,unknown,unknown
969,HAM_0002660,ISIC_0033750,bkl,consensus,NaN,unknown,unknown
970,HAM_0000372,ISIC_0033685,bkl,consensus,NaN,unknown,unknown
971,HAM_0000948,ISIC_0033631,bkl,consensus,NaN,unknown,unknown
972,HAM_0000983,ISIC_0033490,bkl,consensus,NaN,unknown,unknown
973,HAM_0007281,ISIC_0034283,bkl,consensus,NaN,unknown,unknown
974,HAM_0001561,ISIC_0032740,bkl,consensus,NaN,unknown,unknown
975,HAM_0000825,ISIC_0034186,bkl,consensus,NaN,unknown,unknown
977,HAM_0006074,ISIC_0034252,bkl,consensus,NaN,unknown,unknown
978,HAM_0006074,ISIC_0033829,bkl,consensus,NaN,unknown,unknown
1886,HAM_0000169,ISIC_0032960,mel,histo,NaN,male,face
1887,HAM_0000169,ISIC_0033708,mel,histo,NaN,male,face
2388,HAM_0002610,ISIC_0026876,vasc,consensus,0.0,female,abdomen
2389,HAM_0002610,ISIC_0030606,vasc,consensus,0.0,female,abdomen
2398,HAM_0004542,ISIC_0024402,vasc,consensus,0.0,female,back
2399,HAM_0004542,ISIC_0027256,vasc,consensus,0.0,female,back
6683,HAM_0003246,ISIC_0029049,nv,histo,0.0,male,ear
6684,HAM_0003246,ISIC_0029018,nv,histo,0.0,male,ear
6860,HAM_0002159,ISIC_0031059,nv,histo,0.0,male,foot
6861,HAM_0002159,ISIC_0030355,nv,histo,0.0,male,foot
7499,HAM_0004176,ISIC_0034286,nv,histo,0.0,male,upper extremity
7500,HAM_0004176,ISIC_0033373,nv,histo,0.0,male,upper extremity
7558,HAM_0007278,ISIC_0025009,nv,histo,NaN,female,chest
7961,HAM_0002417,ISIC_0033442,nv,histo,NaN,male,upper extremity
7962,HAM_0002417,ISIC_0032943,nv,histo,NaN,male,upper extremity
...,...,...,...,...,...,...,...
9602,HAM_0004508,ISIC_0033628,nv,consensus,NaN,unknown,unknown
9603,HAM_0002037,ISIC_0033733,nv,consensus,NaN,unknown,unknown
9604,HAM_0007191,ISIC_0032738,nv,consensus,NaN,unknown,unknown
9605,HAM_0001000,ISIC_0033353,nv,consensus,NaN,unknown,unknown
9606,HAM_0000627,ISIC_0034019,nv,consensus,NaN,unknown,unknown
9607,HAM_0002164,ISIC_0032852,nv,consensus,NaN,unknown,unknown
9608,HAM_0000421,ISIC_0034080,nv,consensus,NaN,unknown,unknown
9609,HAM_0003561,ISIC_0034154,nv,consensus,NaN,unknown,unknown
9610,HAM_0004430,ISIC_0032789,nv,consensus,NaN,unknown,unknown
9611,HAM_0007301,ISIC_0033417,nv,consensus,NaN,unknown,unknown
9612,HAM_0003935,ISIC_0033782,nv,consensus,NaN,unknown,unknown
9613,HAM_0001118,ISIC_0033332,nv,consensus,NaN,unknown,unknown
9614,HAM_0007172,ISIC_0034130,nv,consensus,NaN,unknown,unknown
9615,HAM_0003696,ISIC_0032945,nv,consensus,NaN,unknown,unknown
9616,HAM_0005439,ISIC_0033597,nv,consensus,NaN,unknown,unknown
9617,HAM_0002282,ISIC_0034045,nv,consensus,NaN,unknown,unknown
9618,HAM_0001139,ISIC_0033028,nv,consensus,NaN,unknown,unknown
9619,HAM_0003998,ISIC_0033809,nv,consensus,NaN,unknown,unknown
9620,HAM_0003034,ISIC_0033187,nv,consensus,NaN,unknown,unknown
9621,HAM_0001366,ISIC_0032814,nv,consensus,NaN,unknown,unknown
9622,HAM_0004670,ISIC_0033190,nv,consensus,NaN,unknown,unknown
9623,HAM_0003017,ISIC_0033535,nv,consensus,NaN,unknown,unknown
9624,HAM_0005156,ISIC_0033330,nv,consensus,NaN,unknown,unknown
9625,HAM_0001209,ISIC_0033064,nv,consensus,NaN,unknown,unknown
9626,HAM_0002402,ISIC_0033515,nv,consensus,NaN,unknown,unknown
9627,HAM_0001433,ISIC_0033735,nv,consensus,NaN,unknown,unknown
9628,HAM_0006643,ISIC_0033982,nv,consensus,NaN,unknown,unknown
9629,HAM_0003300,ISIC_0034195,nv,consensus,NaN,unknown,unknown
9633,HAM_0006720,ISIC_0024725,nv,consensus,0.0,female,lower extremity
9634,HAM_0006720,ISIC_0031259,nv,consensus,0.0,female,lower extremity

## sex

In [98]:
info.sex.describe()

count     10015
unique        3
top        male
freq       5406
Name: sex, dtype: object

## localization

In [99]:
info.localization.describe()

count     10015
unique       15
top        back
freq       2192
Name: localization, dtype: object

In [100]:
info.localization.unique()

array(['scalp', 'ear', 'face', 'back', 'trunk', 'chest',
       'upper extremity', 'abdomen', 'unknown', 'lower extremity',
       'genital', 'neck', 'hand', 'foot', 'acral'], dtype=object)

In [102]:
info[info.localization == 'unknown']

        lesion_id      image_id   dx    dx_type   age      sex localization
50    HAM_0003670  ISIC_0030105  bkl      histo  80.0   female      unknown
56    HAM_0003569  ISIC_0027960  bkl      histo  75.0     male      unknown
57    HAM_0003569  ISIC_0026955  bkl      histo  75.0     male      unknown
140   HAM_0002774  ISIC_0029683  bkl      histo  65.0     male      unknown
461   HAM_0005527  ISIC_0031819  bkl      histo  50.0     male      unknown
511   HAM_0001809  ISIC_0029897  bkl      histo  80.0   female      unknown
535   HAM_0007603  ISIC_0029139  bkl      histo  60.0     male      unknown
821   HAM_0007590  ISIC_0031528  bkl   confocal  40.0     male      unknown
822   HAM_0007590  ISIC_0028615  bkl   confocal  40.0     male      unknown
967   HAM_0006238  ISIC_0034151  bkl  consensus  60.0     male      unknown
968   HAM_0001186  ISIC_0033391  bkl  consensus   NaN  unknown      unknown
969   HAM_0002660  ISIC_0033750  bkl  consensus   NaN  unknown      unknown
970   HAM_0000372  ISIC_0033685  bkl  consensus   NaN  unknown      unknown
971   HAM_0000948  ISIC_0033631  bkl  consensus   NaN  unknown      unknown
972   HAM_0000983  ISIC_0033490  bkl  consensus   NaN  unknown      unknown
973   HAM_0007281  ISIC_0034283  bkl  consensus   NaN  unknown      unknown
974   HAM_0001561  ISIC_0032740  bkl  consensus   NaN  unknown      unknown
975   HAM_0000825  ISIC_0034186  bkl  consensus   NaN  unknown      unknown
977   HAM_0006074  ISIC_0034252  bkl  consensus   NaN  unknown      unknown
978   HAM_0006074  ISIC_0033829  bkl  consensus   NaN  unknown      unknown
1280  HAM_0007560  ISIC_0026892  mel      histo  75.0     male      unknown
1281  HAM_0007560  ISIC_0024987  mel      histo  75.0     male      unknown
1286  HAM_0000099  ISIC_0032313  mel      histo  70.0     male      unknown
1287  HAM_0000099  ISIC_0027769  mel      histo  70.0     male      unknown
1322  HAM_0007165  ISIC_0029547  mel      histo  80.0     male      unknown
1323  HAM_0007165  ISIC_0026622  mel      histo  80.0     male      unknown
1338  HAM_0001328  ISIC_0028442  mel      histo  75.0     male      unknown
1344  HAM_0004265  ISIC_0026296  mel      histo  45.0     male      unknown
1345  HAM_0004265  ISIC_0025018  mel      histo  45.0     male      unknown
1400  HAM_0006751  ISIC_0024400  mel      histo  75.0   female      unknown
...           ...           ...  ...        ...   ...      ...          ...
9608  HAM_0000421  ISIC_0034080   nv  consensus   NaN  unknown      unknown
9609  HAM_0003561  ISIC_0034154   nv  consensus   NaN  unknown      unknown
9610  HAM_0004430  ISIC_0032789   nv  consensus   NaN  unknown      unknown
9611  HAM_0007301  ISIC_0033417   nv  consensus   NaN  unknown      unknown
9612  HAM_0003935  ISIC_0033782   nv  consensus   NaN  unknown      unknown
9613  HAM_0001118  ISIC_0033332   nv  consensus   NaN  unknown      unknown
9614  HAM_0007172  ISIC_0034130   nv  consensus   NaN  unknown      unknown
9615  HAM_0003696  ISIC_0032945   nv  consensus   NaN  unknown      unknown
9616  HAM_0005439  ISIC_0033597   nv  consensus   NaN  unknown      unknown
9617  HAM_0002282  ISIC_0034045   nv  consensus   NaN  unknown      unknown
9618  HAM_0001139  ISIC_0033028   nv  consensus   NaN  unknown      unknown
9619  HAM_0003998  ISIC_0033809   nv  consensus   NaN  unknown      unknown
9620  HAM_0003034  ISIC_0033187   nv  consensus   NaN  unknown      unknown
9621  HAM_0001366  ISIC_0032814   nv  consensus   NaN  unknown      unknown
9622  HAM_0004670  ISIC_0033190   nv  consensus   NaN  unknown      unknown
9623  HAM_0003017  ISIC_0033535   nv  consensus   NaN  unknown      unknown
9624  HAM_0005156  ISIC_0033330   nv  consensus   NaN  unknown      unknown
9625  HAM_0001209  ISIC_0033064   nv  consensus   NaN  unknown      unknown
9626  HAM_0002402  ISIC_0033515   nv  consensus   NaN  unknown      unknown
9627  HAM_0001433  ISIC_0033735   nv  consensus   NaN  unknown      unknown
9628  HAM_0006643  ISIC_0033982   nv  consensus   NaN  unknown      unknown
9629  HAM_0003300  ISIC_0034195   nv  consensus   NaN  unknown      unknown
9630  HAM_0003807  ISIC_0033620  bkl  consensus  40.0     male      unknown
9631  HAM_0003808  ISIC_0034040  bkl  consensus  40.0     male      unknown
9635  HAM_0004370  ISIC_0027138   nv  consensus  10.0     male      unknown
9636  HAM_0004370  ISIC_0024757   nv  consensus  10.0     male      unknown
9639  HAM_0000057  ISIC_0026391   nv  consensus  30.0     male      unknown
9640  HAM_0000057  ISIC_0025122   nv  consensus  30.0     male      unknown
9663  HAM_0001633  ISIC_0028618   nv  consensus  70.0     male      unknown
9664  HAM_0001633  ISIC_0031488   nv  consensus  70.0     male      unknown

[234 rows x 7 columns]

In [104]:
loc_missing = info[info.localization == 'unknown'].shape[0]
print('There are ' + str(loc_missing) + ' missing values')
print('This represents ' + str(100*loc_missing/N) + ' % of the data')

There are 234 missing values
This represents 2.3364952571143287 % of the data

In [107]:
loc_trunk = info[info.localization == 'trunk'].shape[0]
print('There are ' + str(loc_trunk) + ' unclear values')
print('This represents ' + str(100*loc_trunk/N) + ' % of the data')

There are 1404 unclear values
This represents 14.018971542685971 % of the data

# DF

In [109]:
df.describe()

,pixel0000,pixel0001,pixel0002,pixel0003,pixel0004,pixel0005,pixel0006,pixel0007,pixel0008,pixel0009,...,pixel2343,pixel2344,pixel2345,pixel2346,pixel2347,pixel2348,pixel2349,pixel2350,pixel2351,label
count,10015.000000,10015.000000,10015.00000,10015.000000,10015.000000,10015.000000,10015.000000,10015.000000,10015.000000,10015.000000,...,10015.00000,10015.000000,10015.000000,10015.000000,10015.000000,10015.000000,10015.000000,10015.000000,10015.000000,10015.000000
mean,181.056415,131.728407,141.24024,187.274488,137.089466,147.206191,192.358862,141.796405,152.211782,196.177234,...,184.68657,138.416875,144.061508,178.656216,133.217474,138.752172,172.307239,127.871193,133.144483,3.720919
std,59.746698,45.043473,48.67267,54.021274,41.138096,44.661091,48.267713,37.382709,40.725174,43.892249,...,47.02376,38.393007,41.322365,53.534096,42.910723,45.642257,58.533979,46.453818,49.060028,1.347499
min,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,158.000000,117.000000,123.00000,165.000000,122.000000,130.000000,170.000000,127.000000,135.000000,174.000000,...,166.00000,123.000000,126.000000,160.000000,118.000000,120.000000,153.000000,113.000000,115.000000,4.000000
50%,198.000000,141.000000,151.00000,201.000000,144.000000,155.000000,204.000000,146.000000,157.000000,205.000000,...,197.00000,144.000000,149.000000,195.000000,141.000000,146.000000,191.000000,138.000000,142.000000,4.000000
75%,224.000000,159.000000,172.00000,226.000000,162.000000,174.000000,227.000000,163.000000,177.000000,228.000000,...,216.00000,161.000000,169.000000,214.000000,159.000000,166.000000,212.000000,156.000000,163.000000,4.000000
max,255.000000,246.000000,255.00000,254.000000,246.000000,254.000000,255.000000,251.000000,255.000000,255.000000,...,255.00000,254.000000,254.000000,254.000000,252.000000,255.000000,254.000000,249.000000,254.000000,6.000000